
.body{
  margin: 0;
  font-family:  "Trebuchet MS", "Helvetica", sans-serif;
  line-height: 1.15;
  font-size: 18px;
  color: #000000;
}
img{
  max-width: 100%;
  display: block;
}
.container{
  
  margin: 0 auto;
}
.title{
  text-align: center;
  margin: 20px 0;
  color: #256C92;
  font-weight: 600;
  font-size: 40px;
}
.text-area{
  font-size: 22px;
  padding: 10px;
  display: block;
  width: 720px;
  height: 200px;
  margin: 10px auto 10px;
  color: #000000;
  
}
.description,.language{
  text-align: center;
  margin: 10px auto;
}
.keyboard{
  user-select: none;
  width: 704px;
  margin: 0 auto;
  background: #888888;
  border: 3px solid #222222;
  border-radius: 5px;
  padding: 5px;
  padding-left: 0;
  padding-bottom: 0;
}
.row{
  display: flex;
  width: 100%;
  height: 40px;
  margin-bottom: 8px;
  margin-left: 0;
  margin-right: 0;
}
.key{
  text-align: center;
  font-weight: 500;
  color: white;
  width: 40px;
  height: 40px;
  background-color: #000000;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 6px;
  line-height: 40px;
  box-shadow: 0 4px 3px #454140;
  transition: background-color 0.3s, box-shadow 0.3s, border-radius 0.3s;
}
.keyboard .key.clicked{
  box-shadow: none;
  border-radius: 10px;
  background-color: #2B739A;
  
}
.key:hover{
  background-color: #7291A2;
}
.Backspace{
  width: 100px;
}
.Tab{
  width: 50px;
}
.Delete{
 width: 44px;
}
.CapsLock{
  width: 100px;
}
.ShiftLeft{
  width: 100px;
}
.ShiftRight{
  width: 86px;
}
.Enter{
  width: 86px;
}
.Space{
  width: 330px;
}
